.login-pf body {
    background: gainsboro;
    background-size: cover;
}

.card-pf {
    border: solid 1px #bbb;
}

h1, h2, h3, h4 {
    color: #333;
    text-transform: none;
}

h1 {
    font-size: 4rem;
}

#kc-oauth ul {
    list-style: circle;
    padding: 0 0 0 2rem;
}
